.application {
    margin-left: 380px;
}

.application-container {
    margin-left: 10vh;
    margin-right: 10vh;
}

.application-header {
    height: 150px;
    display: flex;
    align-items: flex-end;
}
