


.application-header {
    height: 150px;
    display: flex;
    align-items: flex-end;

    h1 {
        margin-bottom: 15px;
    }

    .nav-pills > li > a {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 1000px;
    }
}

.application-container {
    padding-top: 60px;

    margin-left: 10vh;
    margin-right: 10vh;
}

@media(min-width: 1000px) {
    .application {
        margin-left: 380px;
    }
}
