@font-face {
    font-family: 'Alte DIN 1451 Mittelschrift gepraegt';
    src: url('/fonts/AlteDIN1451.eot');
    src: url('/fonts/AlteDIN1451.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AlteDIN1451.woff2') format('woff2'),
        url('/fonts/AlteDIN1451.woff') format('woff'),
        url('/fonts/AlteDIN1451.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
