.sidebar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    border-right: 1px solid #D8D8D8;

    .sidebar-scrollable {
        display: none;
        position: relative;
        overflow-y: auto;
        height: calc(100vh - 50px);
        background-color: #fff;
    }

    .sidebar-contents {
        position: relative;
        padding: 40px 30px 30px;
        min-height: 555px;
        height: calc(100vh - 50px);
    }

    .sidebar-content-logo {
        display: block;
        margin-bottom: 60px;
        text-decoration: none !important;

        img {
            margin-bottom: 10px;
        }

        p {
            color: $text-color;
        }
    }

    .nav {
        margin-bottom: 40px;
    }

    .nav>li>a {
      padding: 0;
      font-size: 16px;
      font-weight: 600;
      color: $text-color;
      transition: 200ms ease color;
    }

    .nav>li>a:hover,
    .nav>li>a:focus {
        background-color: transparent;
    }

    .nav>li.active>a,
    .nav>li.active>a:focus,
    .nav>li.active>a:hover {
      background-color: transparent;
      color: $brand-primary;
    }

    /**
    * Subnav
    **/

    .nav>li>.nav {
        display: none;
        margin-top: 10px;
    }
    .nav>li.active>.nav {
        display: block;
    }

    .nav>li>.nav>li>a,
    .nav>li>.nav>li>a {
        font-weight: 400;
    }

    .sidebar-nav-bottom {
        position: absolute;
        bottom: 25px;
        width: calc(100% - 80px);

        .nav-pills {
            margin-bottom: 0;
        }

        .nav {
            margin: 0;
        }
    }

    .legal {
        margin-top: 10px;
        font-size: 14px;
        color: #919297;
    }

    .legal a,
    .legal a:hover,
    .legal a:focus {
        text-transform: none;
        color: #919297;
    }
}

@media(min-width: 1023px) {

    .sidebar {
        width: 300px;

        .sidebar-scrollable {
            display: block !important;
            height: 100vh;
        }

        .sidebar-contents {
            padding-top: 60px;
            height: 100vh;
        }
    }

    .sidebar-top {
        display: none !important;
    }
}
