.sidebar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;

    .sidebar-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #F2F2F2;
    }

    .bar {
        width: 30px;
        height: 3px;
        margin-bottom: 3px;
        background-color: #292C33;
    }

    .bar:last-child {
        margin-bottom: 0;
    }

    &.sidebar-open .bar {
        background-color: #fff;
    }

    .sidebar-pos,
    .sidebar-logo,
    .sidebar-hamburger {
        display: inline-block;
    }

    .sidebar-pos {
        text-decoration: none !important;
    }

    .sidebar-pos span {
        padding: 3px 15px;
        background-color: #fff;
        border-radius: 3px;
        color: #919297;
    }

    &.sidebar-open .sidebar-pos span {
        color: #E3E3E3;
        background-color: rgba(255,255,255,.15);
    }

    &.sidebar-open .sidebar-top {
        background-color: #3D4047;
    }

    &.sidebar-closed .sidebar-scrollable {
        display: none;
    }

    .sidebar-scrollable {
        position: relative;
        overflow-y: auto;
        height: calc(100vh - 50px);
        background-color: #292C33;
    }

    .sidebar-contents {
        position: relative;
        padding: 40px 10% 30px;
        min-height: 555px;
        height: calc(100vh - 50px);
    }

    .sidebar-content-logo {
        display: none;
        margin-bottom: 40px;
    }

    .nav-pills {
      margin-bottom: 40px;
    }

    .nav-pills>.nav-title {
      padding-bottom: 5px;

      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      color: #919297;
    }

    .nav-pills>li>a {
      padding: 0;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      color: rgba(255,255,255,.8);
      transition: 200ms ease color;
    }

    .nav-pills>li>a:hover,
    .nav-pills>li>a:focus {
        background-color: transparent;
        color: rgba(255,255,255,1);
    }

    .nav-pills>li.active>a,
    .nav-pills>li.active>a:focus,
    .nav-pills>li.active>a:hover {
      background-color: transparent;
      color: #FF749E;
    }

    .sidebar-nav-bottom {
      position: absolute;
      bottom: 30px;
      width: calc(100% - 80px);

      .nav-pills {
        margin-bottom: 0;
      }
    }

    .legal {
        margin-top: 10px;
        font-size: 14px;
        color: #737479;
    }

    .legal a,
    .legal a:hover,
    .legal a:focus {
        text-transform: none;
        color: #919297;
    }
}

@media(min-width: 1000px) {

    .sidebar {
        width: 380px;

        .sidebar-content-logo {
            display: block;
        }

        .sidebar-scrollable {
            display: block !important;
            height: 100vh;
        }

        .sidebar-contents {
            padding-top: 60px;
            height: 100vh;
        }
    }

    .sidebar-top {
        display: none !important;
    }
}
