.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    a {
        color: #292C33;
        text-decoration: none !important;
    }

    .active {
        font-weight: bold;
        color: $brand-primary;
    }
}
