
// Colors
$primary: #ff5353;

$body-bg: #F6F8FD;
$body-color: #1D2B54;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$headings-color: $body-color;
$headings-font-weight: 800 !default;
$lead-font-weight: 700 !default;



